# Configuración del servidor
PORT=8080
NODE_ENV=development

# Configuración de la base de datos MongoDB
MONGODB_URI=mongodb://<username>:<password>@localhost:27017/<database>

# Configuración de carga de archivos
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=5242880